*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.barDiscount{
    background: #1cd1b0;
    height: 38px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    
}


.header{

    height: 101px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgb(0, 0, 0, 0.25);
    padding: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
    line-height: 35px;
    font-weight: 400;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: #ffff;
}
header h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 10px;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 460px;   
    margin-top: 100px;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

form h1{
    font-size: 72px;
    text-align: left;
    margin-right: 433px;
}

input{
    border: 1,53px solid #000000;
    width: 620px;
    height: 50px;
    padding: 15px;
}

input::placeholder{
    color: #000000;
}

main button{
    height: 54px;
    background: #1cd1b0;
    border-radius: 23px;
    border: none;
    color: #000000;
    font-weight: 700;
    font-family: 'karla', sans-serif;
    font-size: 24px;
    line-height: 44px;
    margin-top: 20px;
}
main h3{
    height: 28px;
    font-size: 21.50px;
    font-weight: 400;
    line-height: 28px;
    color: #222222;
    margin-top: 20px;
    text-align: center;

}
h3 a{
    text-decoration: none;
    color: #00669f;
}

footer{
    width: 100%;
    height: 51px;
    background-color: #00669F;
    bottom: 0px;
    padding: 16px 0px 16px 28px;
    color: #ffff;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
}


